
@{
    ViewData["Title"] = "Test2";
}
<script src="https://code.jquery.com/jquery-1.10.2.js">

</script>
<h1>Test2</h1>
<h2>ㅁㄴㅇㄹ</h2>
<script>
    $(document).ready(function () {
        $('h2').css('color', '#000000')
    });
</script>
<script>
    $(document).ready(function () {
        $('tr:odd').css('background', 'blue'); //홀수줄
        $('tr:even').css('background', 'yellow'); //짝수줄
    });
</script>
<script>
    $(document).ready(function () {
        $('tr:first').css('background', 'red').css('color', 'white');
        $('tr:last').css('background', 'green').css('color', 'white');
    });
</script>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Hp</th>
    </tr>
    <tr>
        <td>01</td>
        <td>홍길동</td>
        <td>10</td>
        <td>010-1111-1111</td>
    </tr>
    <tr>
        <td>02</td>
        <td>qwer</td>
        <td>20</td>
        <td>010-2222-2222</td>
    </tr>
    <tr>
        <td>03</td>
        <td>asdf</td>
        <td>30</td>
        <td>010-3333-3333</td>
    </tr>
    <tr>
        <td>04</td>
        <td>zxcv</td>
        <td>40</td>
        <td>010-4444-4444</td>
    </tr>
    <tr>
        <td>05</td>
        <td>rewq</td>
        <td>50</td>
        <td>010-5555-5555</td>
    </tr>
    <tr>
        <td>06</td>
        <td>fdsa</td>
        <td>60</td>
        <td>010-6666-6666</td>
    </tr>
</table>

