@model IEnumerable<TypedViewTest.Models.Student>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@{
    foreach (var item in Model)
    {
        <h3>@item.Id</h3>
        <h3>@item.Name</h3>
        <h3>@item.Hp</h3>
        <h3>---------------</h3>
    }
}
